*,
*::before,
*::after {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    background-color: #121212;
}


/* img {
    display: block;
    width: 100%;
} */

input, 
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
}

.header {
    background-image: url('./images/pexels-geladelrosario-5504137.jpg');
    background-size: cover;
    background-position:center;
    min-width: 20em;
    height: 30vh;
}

.header-text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5em;
    color: white;
    padding: 10em 0 0 0;
}

a {
    text-decoration: none;
    color: #ffff;
}

.search {
    text-align: center;
    margin-top: 3.8em;
}

.search-bar {
    display: flex;
    justify-content: center;
}

input {
    width: 60%;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    color: #a5a5a5;
    background-color: #2E2E2F;
}

button {
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    background-color: #4B4B4B;
    color: #ffff;
}

button:hover,
button:active {
    background-color: #2E2E2F;
}

.fa-film {
    color: #2E2E2F;
    font-size: 7rem;
}

.messages {
    font-size: 1.5rem;
    color: #2E2E2F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9em auto 0;
}


