*,
*::before,
*::after {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    background-color: #121212;
}


img {
    display: block;
    width: 100%;   
} 

input, 
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
}

input {
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: .5em;
    width: 60%;
    color: #a5a5a5;
    background-color: #2e2e2f;
}

button {
    padding: .5em 1em;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    color: #ffff;
    background-color: #2e2e2f;
}

.site-header {
    background-image: url('/images/pexels-geladelrosario-5504137.jpg');
    height: 30vh;
    background-size: cover;
    background-position: center;
    min-width: 20em;
}

.header-title {
    font-size: 2rem;
}

.header-text {
    color: #ffff;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search {
    text-align: center;
}

.message {
    color: #2e2e2f;
    font-size: 2rem;
    display: none;    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5em 0;
}

.fa-film {
    color: #2e2e2f;
    font-size: 8rem;
}

.movies {
    display: flex;
    gap: 1.5em;
    width: 60%;
    border-bottom: 2px solid #2e2e2f;
    margin: 0 auto;
    padding: 1em 0;

}

.movie-text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.movie-title {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #ffff;
}

.fa-star {
    color: gold;
}

.poster {
    width: 150px;
    height: 250px;
}

.movie-details {
    color: #a5a5a5;
    font-size: 1rem;
    display: flex;
    gap: 1em;
}

.movie-plot {
    color: #a5a5a5;
    width: 60ch;
}

.watchlist {
    display: flex;
    color: #ffff;
    align-items: center;
    gap: .3em;
}