

*,
*::before,
*::after {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    background-color: #121212;
    color: #fff;
}


img {
    display: block;
    width: 100%;   
} 

input, 
button,
textarea,
select {
    font: inherit;
    font-size: 100%;
}


/* find your film section */

.site-header {
    background-image: url('./images/pexels-geladelrosario-5504137.jpg');
    background-size: cover;
    width: 100%;
    height: 18vh;
    background-position: center;
}

.row {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.header-text {
    align-items: center;
    color: #ffff;
    text-shadow: 2px 2px 4px black;
    justify-content: space-between;
    padding-top: 7em;
}

.heading {
    font-size: 1.2rem;
}

.header-tag {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.input {
    padding: 1em;
}

input[type="text"] {
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: .3em .5em;
    width: 100%;
    background-color: #202020;
    color: #ffff;
}

.search-btn {
    color: #ffff;
    background-color: #4b4b4b;
    font-weight: 900;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    margin: 0;
    padding: .2em .5em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.search-btn:hover{
    background-color: #6B7280;
}

.container {
    display: flex;
    padding: 1em;
}

.fa-film {
    font-size: 1.625rem;
}

.poster {
    height: 130px;
    width: 100px;
}

.movie {
    padding: 2em 1em .5em;
}

.movie-title-rating {
    align-items: center;
    color: #fff;
    font-size: .8rem;
    font-weight: 200;
}

.movie-details, 
.rating {
    color: white;
    font-size: .7rem;
}

.fa-star {
    color: gold;
    font-size: 1rem;
}

.movie-container {
    display: flex;
    gap: .5em;
    align-items: center;
}

.film-container {
    display: flex;
    gap: 1em;
    color: #a5a5a5;

}

.fa-bookmark,
.fa-circle-minus {
    font-size: 1.8rem;
    cursor: pointer;
    
}

.watchlist-btn {
    display: flex;
    align-items: center;
    padding: 0 .5em;
    gap: .3em;
}

.plot{
    font-size: .7rem;
}

.results {
    display: flex;
    flex-direction: column-reverse;
}

.hide {
    display: none;
}


@media (min-width: 500px) {
    .container {
        width: 80%;
        padding: 2em;
        margin: 0 auto;
    }

    .movie {
        padding: 2.5em 2em 1em;
    }

    .poster {
        height: 150px;
        width: 120px;
    }

    .site-header {
        height: 20vh;
    }

    .movie-details, 
    .rating {
    color: white;
    font-size: .8rem;
    }

    .plot {
        font-size: .9rem;
    }
    
    input[type="text"],
    .search-btn {
        padding: .5em;
    }

    .heading {
        font-size: 2rem;
    }

    .header-tag {
        font-size: 1.5rem;

    }
    
}


@media (min-width: 1000px){
    .site-header {
        height: 26vh;
    }

    .results {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        padding: 0;
        width: 80%;
        margin: 0 auto;
    }

    .movie {
        padding: 2em 0;
    }

    .poster {
        height: 220px;
        width: 150px;
    }

    .heading {
        font-size: 3rem;
    }

    .header-tag {
        font-size: 2rem;
    }


}